.data-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }

  .page-container {
    display: flex;
    max-width: 1400px; /* Adjust the total width as needed */
    margin: 100px;
    justify-content: left;
  }

  .data-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--navbar-height)); /* Replace --navbar-height with your navbar's actual height */
  }
  
  .home-header {
    /* Your navbar styles */
  }
  
  .download-section {
    padding: 40px;
    margin-left: 10px;
    margin-top: 80px;
  }
  
  .download-section h1 {
    padding-bottom: 50px;
  }
  
  .download-step {
    margin-bottom: 50px;
  }
  
  .download-step h2 {
    color: #017d73;
  }
  
  .download-step button {
    padding: 10px 15px;
    margin-left: 150px;
    margin-top:20px;
    background-color: #017d73;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .download-step code {
    background-color: #f7f7f7;
    padding: 10px;
    margin-left: 20px;
    display: inline-block;
  }

  .download-step p {
    padding: 10px;
    margin-left:20px;
    display: inline-block;
  }
  
  .app {
    width: 100%;
    max-width: 900px;
    margin: 100px;
    padding: 50px;
    font-family: Arial, sans-serif;
  }
  
  .breadcrumb {
    margin-bottom: 10px;
    color: #555;
    cursor: pointer;
  }
  
  .collapsible {
    background: #f8f8f8;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .collapsible-header {
    padding: 10px 20px;
    text-align: left;
    background: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
  }
  
  .collapsible-icon {
    float: right;
  }
  
  .collapsible-content {
    padding: 0 20px 10px;
    background: #f8f8f8;
    border-top: 1px solid #e7e7e7;
  }
  

  .modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Adjust size as needed */
  }
  
  .close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  /* LogstashDownloadPage.css */
/* ... rest of your CSS styles */

.modal-content pre code {
    display: block;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color: #f5f5f5;   /* Set your desired background */
    border: 1px solid #ccc;      /* Set your desired border */
    padding: 10px;               /* Set your desired padding */
    overflow: auto;              /* Adds a scrollbar if necessary */
    font-family: monospace;      /* Ensures the font is suitable for code */
  }
  
  .close-button {
    /* ... close button styles */
  }
  

  .config-link {
    color: blue; /* Sets the text color to blue */
    text-decoration: underline; /* Adds underline to the text */
    cursor: pointer; /* Changes the cursor to the pointer icon to indicate it's clickable */
  }

  .logstashimg {
    display: inline-block;
    vertical-align: middle; /* Aligns the image vertically with the text */
    width: auto; /* Or you can set a specific width */
    height: 30px; /* Adjust the height to fit with your heading */
    margin-left: 5px; /* Adds some space between the text and the image */
  
  }

  .proceed-button-container {
    margin-top: 1px; /* Adjust spacing around the button container as needed */
    text-align: center; /* Center the button if desired */
  }
  
  .proceed-button {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    font-size: 30px; /* Adjust font size as needed */
    padding: 20px 30px; /* Padding inside the button */
    border: none; /* Remove default border */
    border-radius: 5px; /* Slightly rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    display: inline-flex; /* Use flex to align text and arrow icon */
    align-items: center; /* Center items vertically */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
  }
  
  .proceed-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .arrow {
    margin-left: 5px; /* Space between the text and the arrow */
    transition: transform 0.3s; /* Smooth transition for the arrow on hover */
  }
  
  .proceed-button:hover .arrow {
    transform: translateX(5px); /* Move the arrow to the right on hover */
  }
  
  
  .close-button:hover,
  .close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .home-header {
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
  .home-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .home-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-nav12 {
    transition: 0.3s;
  }
  .home-nav2 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  .home-nav3 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  .home-nav4 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  .home-nav5 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  .home-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-login {
    margin-right: 32px;
  }
  .home-burger-menu {
    display: none;
  }
  .home-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .home-mobile-menu1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .home-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon02 {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .home-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav21 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav31 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav41 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav51 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-hero {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 96px;
    align-items: center;
    justify-content: center;
  }
  .home-container01 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-hero-heading {
    max-width: 800px;
    text-align: center;
  }
  .home-hero-sub-heading {
    font-size: 18px;
    text-align: center;
  }
  .home-btn-group {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .home-features {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-features1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .home-container02 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-features-heading {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-features-sub-heading {
    font-size: 18px;
    text-align: center;
  }
  .home-container03 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr;
  }
  .home-pricing {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-container04 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-pricing-sub-heading {
    text-align: center;
  }
  .home-container05 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .home-container06 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text38 {
    text-transform: uppercase;
  }
  .home-container07 {
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .home-text39 {
    font-size: 1.15rem;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 300;
  }
  .home-free-plan-price {
    font-size: 4rem;
    font-weight: 700;
  }
  .home-container08 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-container09 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text42 {
    line-height: 150%;
  }
  .home-container10 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text43 {
    line-height: 150%;
  }
  .home-container11 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text44 {
    line-height: 150%;
  }
  .home-container12 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text45 {
    line-height: 150%;
  }
  .home-button {
    width: 100%;
  }
  .home-container13 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text46 {
    text-transform: uppercase;
  }
  .home-container14 {
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .home-text47 {
    font-size: 1.15rem;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 300;
  }
  .home-basic-plan-pricing {
    font-size: 4rem;
    font-weight: 700;
  }
  .home-text50 {
    font-size: 1.15rem;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 300;
  }
  .home-container15 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-container16 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text51 {
    line-height: 150%;
  }
  .home-container17 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text53 {
    line-height: 150%;
  }
  .home-container18 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text54 {
    line-height: 150%;
  }
  .home-container19 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text55 {
    line-height: 150%;
  }
  .home-container20 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text56 {
    line-height: 150%;
  }
  .home-button1 {
    width: 100%;
  }
  .home-container21 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text57 {
    text-transform: uppercase;
  }
  .home-container22 {
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .home-text60 {
    font-size: 1.15rem;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 300;
  }
  .home-pro-plan-pricing {
    font-size: 4rem;
    font-weight: 700;
  }
  .home-text63 {
    font-size: 1.15rem;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 300;
  }
  .home-container23 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-container24 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text64 {
    line-height: 150%;
  }
  .home-container25 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text66 {
    line-height: 150%;
  }
  .home-container26 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text67 {
    line-height: 150%;
  }
  .home-container27 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text68 {
    line-height: 150%;
  }
  .home-container28 {
    gap: 4px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-text69 {
    line-height: 150%;
  }
  .home-button2 {
    width: 100%;
  }
  .home-banner {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-banner-heading {
    text-align: center;
  }
  .home-banner-sub-heading {
    max-width: var(--dl-size-size-maxwidth);
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-faq {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-faq1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-container29 {
    display: flex;
    max-width: 35%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text87 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text88 {
    text-align: left;
  }
  .home-container30 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-footer {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-container31 {
    gap: var(--dl-space-space-unit);
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-nav1 {
    flex: 0 0 auto;
    display: flex;
    margin-top: 0px;
    align-items: center;
    flex-direction: row;
  }
  .home-nav11 {
    margin-left: 0px;
  }
  .home-nav22 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-nav32 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-nav42 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-nav52 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .home-container32 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-icon-group1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-icon10 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon12 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon14 {
    width: 24px;
    height: 24px;
  }
  @media(max-width: 991px) {
    .home-hero1 {
      flex-direction: column;
    }
    .home-container01 {
      align-items: center;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-twounits);
      padding-right: 0px;
    }
    .home-hero-heading {
      text-align: center;
    }
    .home-hero-sub-heading {
      text-align: center;
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);
    }
    .home-features-sub-heading {
      text-align: center;
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);
    }
    .home-pricing-sub-heading {
      text-align: center;
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);
    }
    .home-container05 {
      align-items: center;
      flex-direction: column;
    }
    .home-pricing-card {
      width: 100%;
      padding: var(--dl-space-space-twounits);
      max-width: 450px;
    }
    .home-pricing-card1 {
      width: 100%;
      max-width: 450px;
    }
    .home-pricing-card2 {
      width: 100%;
      max-width: 450px;
    }
    .home-banner-sub-heading {
      max-width: 100%;
    }
    .home-text88 {
      text-align: center;
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);
    }
  }
  @media(max-width: 767px) {
    .home-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-desktop-menu {
      display: none;
    }
    .home-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .home-nav1 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav21 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav31 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav41 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav51 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-hero1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-hero-sub-heading {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .home-features1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-features-sub-heading {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .home-container03 {
      grid-template-columns: 1fr;
    }
    .home-pricing-sub-heading {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .home-container05 {
      align-items: center;
      flex-direction: column;
    }
    .home-pricing-card {
      width: 100%;
      max-width: 450px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-twounits);
    }
    .home-pricing-card1 {
      width: 100%;
      max-width: 450px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-twounits);
    }
    .home-pricing-card2 {
      width: 100%;
      max-width: 450px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-twounits);
    }
    .home-banner1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-banner-sub-heading {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .home-faq1 {
      flex-direction: column;
    }
    .home-container29 {
      max-width: 100%;
      align-self: center;
      align-items: center;
      justify-content: center;
    }
    .home-text88 {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .home-footer1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .home-container32 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .home-text91 {
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }
  @media(max-width: 479px) {
    .home-navbar-interactive {
      padding: var(--dl-space-space-unit);
    }
    .home-mobile-menu1 {
      padding: 16px;
    }
    .home-hero1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-container01 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-btn-group {
      flex-direction: column;
    }
    .home-features1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-pricing-card2 {
      margin-bottom: 0px;
    }
    .home-banner1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-footer1 {
      padding: var(--dl-space-space-unit);
    }
    .home-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .home-container32 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .home-text91 {
      text-align: center;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }
  
  /* page1.css */
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .page-container {
    display: flex;
    max-width: 1200px; /* Adjust the total width as needed */
    margin: 0 auto;
    justify-content: left;
  }
  
  .content-left {
    flex: 1; /* Takes up the available space in the flex container (left side) */
    padding: 200px;
  }
  
  .page-heading {
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  .option-section {
    margin-top: 40px;
  }
  
  .option-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .option-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .option-card p {
    color: #555;
    margin-bottom: 15px;
    padding: 10px;
  }
  
  .action-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  
  .image-container {
    flex: 1; /* Takes up the available space in the flex container (right side) */
    padding: 20px;
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    height: auto;
  }
  